* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: antiquewhite;
}
.main-wrapper {
    min-width: 100vw; 
    min-height: 80vh; 
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.top {
    border: 1px solid;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}