* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    padding: 50px;
}
li a {
    text-decoration: none;
    color: black;
}
nav {
    width: 300px;
    background: #d9d9d9;
    margin: 40px auto;
}
span {
    padding: 20px;
    background: #2d2f31;
    color: white;
    font-size: 1.2em;
    font-variant: small-caps;
    cursor: pointer;
    display: block;
    position: relative;
}
span::after {
    /* float: right; */
    position: absolute;
    right: 12px;
    content: '\21D3';
}
.dropdown {
    width: 100%;
    height: 0px;
    /* height: 180px; */
    overflow: hidden;
    /* text-align: center; */
    transition: height 0.4s ease;
    list-style: none;
    margin: 0;
    padding-left: 10px;
}
.dropdown li {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}
.dropdown li:hover {
    font-weight: bold;
}
#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}
#touch:checked + .dropdown {
    height: 180px;
}